@charset "utf-8";
/* 한글인코딩 */

* {margin:0; vertical-align: middle; padding: 0;}
body {font:normal 14px/1 'Nanum Gothic','Noto Sans KR','Roboto'; background: rgba(255,255,255); }
ul,li {list-style: none;}
a {color:#000;text-decoration: none;}


































